body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #e4e4e2;
	word-wrap: break-word;
}

joview, jotitle, jolabel, jocard, jodivider, jocontrol, jocontainer, jocaption, jobutton, jotabbar, jolist, jomenu {
	text-align: left;
	display: block;
	padding: 0;
	margin: 0;
	
	font: 20px 'Prelude', 'Coconut', sans-serif;
	color: #000;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background: transparent;
}

jodivider, jolabel, joinput, jocontrol {
	margin: 0 10px 0 10px;
}

jocaption {
	margin: 10px;
}

jodivider {
	height:3px;
	border-width: 2px 2px 2px 2px;
	-webkit-border-image: url(palm-divider-line-thin.png) 2 2 2 2 repeat stretch;
}

jolabel {
	padding: 5px 0;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 0;
}

jotitle {
	background: none;
	padding: 0;
	border-width: 35px 24px 13px 24px;
	-webkit-border-image: url(palm-page-header.png) 35 24 13 24 repeat stretch;
	-webkit-box-sizing: border-box;
	min-height: 50px;
	min-width: 240px;
	font-size: 22px;
	color: #444;
	text-transform: capitalize;
	text-shadow: #f2f2f2 0px 1px 0px;
	-webkit-palm-mouse-target: ignore;  
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


jocontainer {
}

joinput {
	cursor: text;
	display: block;
	border: 2px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 10px 10px 10px;
	padding: 5px 10px;
	background: #eee;
	
	white-space: nowrap;
	overflow: hidden;
	outline: none;

	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}
joinput.disabled {
	opacity: .2;
}

joinput.focus {
	border-color: #000;
	background: #fff;
}

jostack {
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
	padding: 0;
	margin: 0;
}

jostack {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

jocard {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	margin: 0 0 -10px 0;
	padding: 0;
	min-height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	box-orient: vertical;
	box-align: stretch;
}
jocard>* {
	display: block;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}

jofooter {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-flex: 2;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	-webkit-box-pack: end;
	-moz-box-flex: 2;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	-moz-box-pack: end;
	box-flex: 2;
	box-orient: vertical;
	box-align: stretch;
	box-pack: end;
	margin: 0;
}
jofooter>* {
	display: block;
	-webkit-box-align: start;
	-moz-box-align: start;
	box-align: start;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}

johtml {
	display: block;
	margin: 10px;
	padding: 0;
}

johtml>* {
	margin-left: 0;
	margin-right: 0;
}

jolist {
	display: block;
	margin: 0 0 10px 0;
}


jolist, jomenu {
	display: block;
	margin: 0 0 10px 0;
}

jolistitem, jomenuitem {
	/* set defaults images */
	padding: 15px 15px;
	-webkit-box-sizing: border-box;
	-webkit-border-image: none;
	min-height: 51px; /* 50px when negative margin-bottom factored in */
	width: auto;
	clear: both;
	background: url(list-separator-light.png) bottom left repeat-x; /* bevel shadow and highlight at bottom */
	margin-bottom: -1px; /* negative margin to compensate for bevel highlight */
	display:block;
}

jolistitem img, jomenuitem img {
	max-height:40px;
	padding-right: 10px;
	border: none;
	display: inline;
}

jolistitem.selected, jomenuitem.selected {
	border: none;
	background: none;
	margin: 0 -16px;
	padding: 15px 30px;
	background: url(selection-gradient-default.png) top center repeat-x;
}

	jolistitem.selected:first-child, jomenuitem.selected:first-child {
		-webkit-border-image: url(selection-gradient-first.png) 24 20 24 20 repeat repeat;
	}
	jolistitem.selected:last-child, jomenuitem.selected:last-child {
		-webkit-border-image: url(selection-gradient-last.png) 24 20 24 20 repeat repeat;
	}
	


jogroup jolist,
jogroup jomenu {
	margin-bottom: 0;
}

	jogroup jomenu jolistitem:first-child,
	jogroup jomenu jomenuitem:first-child {
		background-image: url(row-divider-first.png);
	}

	jogroup jomenu jolistitem:last-child,
	jogroup jomenu jomenuitem:last-child {
		background-image: url(row-divider-last.png);		
	}

jomenutitle {
	display: inline;
}

jobutton {
  clear: both;
  margin: 5px 6px 5px 6px;
  height: 52px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  line-height: 52px;
  background: none;
  border-width: 0 17px;
  -webkit-box-sizing: border-box;
  -webkit-border-image: url(palm-button-medium.png) 0 17 104 17 repeat repeat;

}
jobutton:hover, joButton:focus {
	-webkit-border-image: url(palm-button-medium.png) 52 17 52 17 repeat repeat;
}                             
joButton.disabled {           
	-webkit-border-image: url(palm-button-medium.png) 104 17 0 17 repeat repeat;
}
joButton.disabled:hover, joButton.disabled:hover {
}
	
jobutton, jotitle {
}

joinput.password {
	-webkit-text-security: disc;
	-moz-text-security: disc;
	-o-text-security: disc;
	text-security: disc;	
}

jogroup {
	margin: 7px;                                          
	border-width: 18px;
	-webkit-border-image: url(palm-group-unlabeled.png) 18 18 18 18 repeat repeat;
	display: block;
}

h1 {
	margin: 0 0 10px 0;
}
